.card {
    border: 5px solid black;
    background-color: rgb(var(--primary-color));
    border-radius: 1em;
    margin: 1em;
    width: 21.875em;
    height: 45.9375em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}
div#green {
    border-color: green;

}
div#yellow {
    border-color: #ffb703;

}
div#red {
    border-color: red;

}
.card img {
    width: 100%;
    margin: 0px;
    overflow: hidden;
    transform: translateY(-9%);
}

.card h2 {
    max-width: 90%;
    height: 2em;
    margin: 0 0 1em 0;
    font-size: 1.7em;
    transform: translateY(-70%);
    text-overflow: ellipsis;
    letter-spacing: 0.05em;
}

.card p {
    font-size: 1.5em;
    margin: 0px;
}

.card button {
    width: 100%;
    font-size: 1.2em;
    margin-top: .4em;
}
button {
    cursor: pointer;
    border-radius: 0.3em;
    padding: 0.3em 0.7em;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    background: var(--background-color);
    border: none;
}
button:hover {
    transform: all 0.3s ease;
    background: var(--background-color);
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}