.card {
    border: 5px solid black;
    background-color: rgb(var(--primary-color));
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
div#green {
    border-color: green;

}
div#yellow {
    border-color: #ffb703;

}
div#red {
    border-color: red;

}
.card img {
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

.card h2 {
    max-width: 100%;
    height: 40px;
    line-height: 20px;
    font-size: 18px;
    margin: 10px;
    white-space: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card p {
    font-size: 15px;
    margin: 0px 0;
}

.card button {
    width: 100%;
    margin: 0px;
    margin-top: auto;
}
button {
    cursor: pointer;
}