nav {
  position:sticky;
  top: 0;
  z-index: 2;
  min-width: 100%;
  background-color: #f7ead9;
  padding: 0;
  border-bottom: 2px solid black;
}
.filter-message {
  font-size: 1.3em;
  padding: 0;
  margin: 0 0 0 7em;
  transform: translateY(-20%)
}
.title-filter-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.app-title {
  color: black;
  font-weight: bold;
  font-size: 3.125em;
  padding: 0;
}

.search-wrapper {
  margin-left: 11em;
  input {
    margin-left: 10px;
    height: 2em;
    width: 10em;
    background: var(--background-color);
    border: 1px solid black;
    border-radius: 5px;
  };
}

.search-wrapper, .genre-wrapper {
  padding: 6px;
}

.genre-wrapper select {
  margin-left: 10px;
    height: 2.4em;
    width: 10.5em;
    padding: 1px 2px;
    background: var(--background-color);
    border: 1px solid black;
    border-radius: 5px;
}

@media screen and (max-width:33.4375em) {
  nav {
    justify-content: flex-start;
    align-items: none;
  }
  .app-title {
    margin-left: 2em;
  }
  .search-wrapper {
    margin-left: none;
  }
}