nav {
    position:sticky;
    top: 0;
    z-index: 2;
    min-width: 100%;
    background-color: #F7F2D9;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-bottom: 2px solid black;
  }

.app-title {
  color: black;
  font-weight: bold;
  font-size: 3.125em;
  padding: 0;
}

.search-wrapper {
  margin-left: 11em;
  input {
    height: 2em;
    width: 10em;
  }
}

@media screen and (max-width:33.4375em) {
  nav {
    justify-content: flex-start;
    align-items: none;
  }
  .app-title {
    margin-left: 2em;
  }
  .search-wrapper {
    margin-left: none;
  }
}