.modal {
    background: var(--background-color);
    max-height: 90%;
    max-width: 55vw;
    align-content: center;
    img {
        width: 100%;
        opacity: 0.85;
    }
    h2 {
        margin: 0;
        font-size: 50px;
        text-shadow: 0px 0px 5px black;
        color: #FFFFFF;
    }
    padding: 0;
    border: none;
}

.title-genre-wrapper {
    position: relative;
    width: fit-content;
    margin-left: 30px;
    bottom: 180px;
}
.genres {
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    .genre {
        color: black;
        width: fit-content;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: rgba(var(--primary-color),0.8);
        margin: 10px 0 0px 0;
        backdrop-filter: blur(20px);
    }
}
.movie-cards-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 20px 0 20px;
    position: relative;
    bottom: 150px;
}
.movie-info-wrapper {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    .movie-card-info {
        border-radius: 5px;
        background-color: rgba(var(--primary-color),0.8);
        backdrop-filter: blur(20px);
        height: 12vh;
        width: 8vw;
        text-align: center;
        .movie-card-text {
            letter-spacing: .1rem;
            font-weight: 600;
        }
    }
}
.overview {
    line-height: 1.25;
    margin-bottom: 5px;
}
.button-close {
    position: sticky;
    bottom: 93%;
    left: 93%;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgba(var(--primary-color),0.8);
    width: fit-content;
}
.button-close:hover {
    cursor: pointer;
    background-color: rgba(var(--primary-color),1);
}