.modal {
    background: var(--background-color);
    height: 75vh;
    width: 50vw;
    align-content: center;
    img {
        aspect-ratio: 16/9;
        max-width: 100%;
        opacity: 0.85;
    }
    h2 {
        margin: 0;
        font-size: 50px;
       
        color: #FFFFFF;
    }
    backdrop-filter: blur(20px);
    padding: 0;
}

dialog::backdrop {
    background-color:hsl(234, 44%, 66%, .2);
}
.title-genre-wrapper {
    transform: translate(5%,-200%);
}
.genres {
    border-radius: 5px;
    .genre {
        color: black;
        width: fit-content;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: rgb(var(--primary-color));
        margin: 10px 0 0px 0;
    }
}
.movie-cards-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateY(-50%);
}
.movie-info-wrapper {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    .movie-card-info {
        border: 2px solid black;
        border-radius: 5px;
        background-color: rgba(var(--primary-color),0.5);
        backdrop-filter: blur(20px);
        height: 10vh;
        width: 10vw;
        text-align: center;
    }
}
.button-close {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgb(var(--primary-color));
    margin: 10px 0 0 35px;
    width: fit-content;
}
.button-close:hover {
    cursor: pointer;
}