.movies-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    margin: 0;
}

@media screen and (max-width: 115em) { 
    .movies-wrapper {
        grid-template-columns: repeat(3, 1fr);
        .card {
            width: 26.25em;
            height: 55.125em;
        }
    }
}

@media screen and (max-width: 90em) { 
    .movies-wrapper {
        grid-template-columns: repeat(2, 1fr);
        .card {
            width: 32.5em;
            height: 66.15em;
        }
    }
}
@media screen and (max-width: 70em) {
    .movies-wrapper {
        grid-template-columns: repeat(1,1fr);
        .card {
            width: 50em;
            height: 101em;
        }
    }
}